body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #042244, #050a16);
  background-color: white;
}

*{
  color: white;
}

.container {
  padding: 20px;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.success-message {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}

.download-link {
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: blue;
}